


body{
    background-color:lightgrey ;
    
    font-family: 'Roboto', sans-serif;


}
   
h1{
    text-align: center
}

.qwer{
    width: 500px;
    height: 450px;
    padding-left: 350px;


}










.frend{
    text-align: center
    



}
p{
font-size: 25px;


}

.сылки{
    font-size: 25px;




}

.фото{
    position: relative;
    top:-470px;
    padding-right: 1px;
    padding-left: 500px;
 
    padding-right: 50px;
    margin: 10px auto 20px;
    display: block;



   }
    
.ven{


    padding-right: 750px;
    margin: 0%;
    



}
   



.dad{
    position: relative;
    top:-470px;
    padding-right: 750px;
    margin: 10px auto 20px;
    display: block; 


}
    
.mam{
    position: relative;
    top: -940px; 
    padding-left: 450px;
    margin: 10px auto 20px;
 display: block;
     
}

.VK{
   
width: 2px; 
height: 2px;
object-fit: cover;
margin: 10px auto 20px;
display: block;




}


body{
    
    margin: 2px;
    height: 300px;

}



.sas{

    width: 100px;
    height: 100px;
    object-fit: cover;
   
    position:  12px;
   padding-left: 500px;

  
}
.polen{
    width: 100px;
    height: 100px;
    padding-left: 100px;
    object-fit: cover;  
    padding: 0;
    

    top:-140px;
    position:  12px;
    


}

.kol{

    width: 100px;
    height: 100px;
    padding-right: 0px;
   position: relative;
   
  padding-right:  0px;
  position: relative;
 
   margin: 3px;
   


}

.dfga{
    width: 500px;
    height: 450px;
    margin: 10px auto 20px;
    display: block;



}
.yuio{
    width: 500px;
    height: 450px;
    margin: 10px auto 20px;
    display: block;
}

.zxcvb{
    width: 500px;
    height: 450px;
    margin: 10px auto 20px;
    display: block;
}

.bhuik{

    width: 500px;
    height: 450px;
    margin: 10px auto 20px;
    display: block;


}



























